---
import { StructuredData } from '../../index.ts';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Structured Data</title>
		<StructuredData
			localBusiness={{
				name: 'Museum of Glass',
				address: {
					streetAddress: '1801 Dock St',
					addressLocality: 'Tacoma',
					addressRegion: 'WA',
					postalCode: '98402',
				},
				geo: {
					latitude: 47.2455044,
					longitude: -122.4362077,
				},
				priceRange: '$$',
				telephone: '(253) 284-4750',
				url: 'https://www.museumofglass.org/',
			}}
		/>
	</head>
	<body>
		<h1>
			<code>astro-structured-data</code>
		</h1>
	</body>
</html>

<style>
	html,
	body {
		height: 100vh;
	}
	html {
		background-color: whitesmoke;
		font-family: sans-serif;
	}

	body {
		display: grid;
		place-items: center;
	}
</style>
